# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter / Colab
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Google Cloud credentials
*.json

# Local data
data/
assets/

# Archived content
_archive/
